.footer {
  background-color: $color-tangaroa;

  a {
    color: $color-default-white;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__nav {
    display: flex;
    gap: 40px;
  }

  &__socials {
    display: flex;
    gap: 9px;
    margin-right: -8px;

    li {
      width: 37px;
      height: 32px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}
